* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: auto;
}

body {
  font-size: 14px;
  font-family: "Barlow Semi Condensed", sans-serif;
}

header .bg-blue {
  background-color: #0282f9;
  padding: 6.6666666667px;
}

header .wrapper-text {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  text-transform: uppercase;
}

header .wrapper-text p {
  margin: 0 20px;
}

header .wrapper-text p a {
  text-decoration: none;
  color: white;
}

header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

header .nav img {
  width: 60px;
}

header .nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 18px;
}

header .nav ul li {
  margin: 0 10px;
  text-transform: uppercase;
}

header .nav ul li:hover a {
  color: #0282f9;
}

header .nav ul li a {
  text-decoration: none;
  color: #504e50;
  padding: 35px 0;
}

header .nav ul li a:hover {
  border-bottom: 4px solid #0282f9;
}

header .nav form {
  border-bottom: 2px solid #0282f9;
}

header .nav form input {
  outline: none;
  border: transparent;
  font-weight: 500;
  width: 100px;
}

header .nav form input::-moz-placeholder {
  padding-left: 46px;
  color: #504e50;
  font-size: 16px;
}

header .nav form input:-ms-input-placeholder {
  padding-left: 46px;
  color: #504e50;
  font-size: 16px;
}

header .nav form input::placeholder {
  padding-left: 46px;
  color: #504e50;
  font-size: 16px;
}

.jumbo {
  max-width: 100%;
  height: 320px;
  position: relative;
}

.jumbo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.jumbo .blue-box {
  background-color: #0282f9;
  padding: 10px 20px;
  position: absolute;
  bottom: -20px;
  left: 208px;
}

.jumbo .blue-box h2 {
  text-transform: uppercase;
  color: white;
}

.bg-dark {
  background-color: #1c1c1c;
  padding: 30px 0;
}

.bg-dark .wrapper-comics {
  display: flex;
  flex-wrap: wrap;
  color: white;
}

.bg-dark .wrapper-comics .wrapper-comic {
  flex: 0 0 16.6666666667%;
  max-width: 16.66%;
  padding: 10px;
}

.bg-dark .wrapper-comics .wrapper-comic div {
  max-width: 200px;
  margin: 0 auto;
}

.bg-dark .wrapper-comics .wrapper-comic div a {
  color: white;
  text-decoration: none;
}

.bg-dark .wrapper-comics .wrapper-comic div h4 {
  text-transform: uppercase;
  font-weight: inherit;
}

.bg-dark .wrapper-comics .wrapper-comic div div {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  margin-bottom: 20px;
}

.bg-dark .wrapper-comics .wrapper-comic div div img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.bg-dark .load {
  text-align: center;
  margin-top: 40px;
}

.bg-dark .load a {
  padding: 10px 40px;
  background-color: #0282f9;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.wrapper-list {
  background-color: #0282f9;
  padding: 20px;
  position: relative;
}

.wrapper-list ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.wrapper-list ul li {
  display: flex;
  align-items: center;
  margin: 0 30px;
}

.wrapper-list ul li:nth-child(1) img {
  width: 32px;
}

.wrapper-list ul li:nth-child(4) img {
  width: 26px;
}

.wrapper-list ul li img {
  width: 40px;
  margin-right: 10px;
}

.wrapper-list ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

main {
  position: relative;
}

.bg-blue-comic {
  height: 60px;
  background-color: #0282f9;
  position: relative;
}

.bg-blue-comic div {
  position: absolute;
  top: -70px;
  left: 100px;
}

.bg-blue-comic div .img-container {
  position: relative;
  border: 1px solid white;
}

.bg-blue-comic div .img-container img {
  width: 160px;
}

.bg-blue-comic div .img-container div:first-of-type,
.bg-blue-comic div .img-container div:last-of-type {
  position: absolute;
  z-index: 2;
}

.bg-blue-comic div .img-container div:first-of-type {
  top: 0;
  left: 0;
  background-color: #00a9d9;
  color: white;
}

.bg-blue-comic div .img-container div:first-of-type p {
  display: inline-block;
  padding: 2px;
  text-transform: uppercase;
  font-size: 12px;
}

.bg-blue-comic div .img-container div:last-of-type {
  display: inline-block;
  width: 100%;
  text-align: center;
  top: 228px;
  left: 0;
  background-color: #00a9d9;
  color: white;
}

.bg-blue-comic div .img-container div:last-of-type p {
  display: inline-block;
  padding: 2px;
  text-transform: uppercase;
  font-size: 12px;
}

.wrapper-info {
  padding: 40px 90px;
}

.wrapper-info h1 {
  padding-bottom: 20px;
  font-weight: 500;
  color: #003f5c;
}

.wrapper-info .info {
  display: flex;
  justify-content: space-between;
}

.wrapper-info .info .wrapper-sell {
  display: flex;
  background-color: #55ba59;
  box-shadow: 0 1px #504e50;
}

.wrapper-info .info .wrapper-sell .price,
.wrapper-info .info .wrapper-sell .availability {
  padding: 10px;
}

.wrapper-info .info .wrapper-sell .price {
  display: flex;
  border-right: 1px solid #504e50;
}

.wrapper-info .info .wrapper-sell .price p:first-of-type {
  margin-right: 240px;
  color: #88f29b;
}

.wrapper-info .info .wrapper-sell .price p:first-of-type span {
  color: white;
}

.wrapper-info .info .wrapper-sell .price p:last-of-type {
  color: #88f29b;
  text-transform: uppercase;
}

.wrapper-info .info .wrapper-sell .availability p {
  color: white;
}

.wrapper-info .info .reward {
  text-transform: uppercase;
  margin-top: -50px;
}

.wrapper-info .description {
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.wrapper-info .description p {
  font-size: 16px;
  line-height: 25px;
  color: gray;
  opacity: 0.9;
}

.wrapper-info .description div:last-of-type {
  margin-top: -115px;
}

.wrapper-info .description div:last-of-type img {
  width: 280px;
}

.wrapper-info .description div:last-of-type p {
  text-align: end;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: -5px;
}

.table {
  background-color: #f6f6f6;
  border-top: 1px solid lightgray;
}

.table h2 {
  padding-bottom: 20px;
  color: #003f5e;
}

.table .wrapper-table {
  padding: 20px 90px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.table .wrapper-table span:first-of-type {
  color: #003f5e;
}

.table .wrapper-table span a {
  text-decoration: none;
  color: #7bb9e1;
}

.table .wrapper-table .left-table {
  flex-basis: 60%;
}

.table .wrapper-table .left-table div {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.table .wrapper-table .left-table div:last-of-type {
  border-top: none;
}

.table .wrapper-table .left-table div .wrapper-text-table {
  flex-basis: 80%;
  padding: 0;
  border: none;
}

.table .wrapper-table .right-table {
  padding-left: 20px;
  flex-basis: 35%;
}

.table .wrapper-table .right-table div {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid lightgray;
}

.table .wrapper-table .right-table div:last-of-type {
  border-bottom: 1px solid lightgray;
}

.table .wrapper-table .right-table div:first-of-type span:last-of-type {
  text-transform: uppercase;
  color: #7bb9e1;
}

.table .wrapper-table .right-table div span:last-of-type {
  padding-right: 60px;
}

.table .wrapper-table .right-table div .wrapper-text-table {
  flex-basis: 80%;
  padding: 0;
  border: none;
}

.start-footer {
  background-color: #f6f6f6;
  border-top: 1px solid lightgray;
}

.start-footer .wrapper {
  padding: 0 90px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.start-footer .wrapper div {
  display: flex;
  border-right: 1px solid lightgray;
  padding-right: 40px;
  padding: 10px 10px;
}

.start-footer .wrapper div:first-of-type {
  border-left: 1px solid lightgray;
}

.start-footer .wrapper div .link-sprite {
  padding: 14px;
  padding-left: 0;
  margin-top: -18px;
  padding-right: 60px;
  text-decoration: none;
  text-transform: uppercase;
  color: gray;
  opacity: 0.9;
}

.start-footer .wrapper div .bg-sprite {
  background-image: url(/images/cta-icons.png);
  background-repeat: no-repeat;
  display: inline-block;
  width: 37px;
  height: 37px;
}

.start-footer .wrapper div .img-1 {
  background-position-x: 0;
}

.start-footer .wrapper div .img-2 {
  background-position-x: -37px;
}

.start-footer .wrapper div .img-3 {
  background-position-x: -74px;
}

.start-footer .wrapper div .img-4 {
  background-position-x: -111px;
}

.wrapper-footer {
  background-image: url(/images/footer-bg.jpg);
}

.wrapper-footer .wrapper-links {
  display: flex;
  justify-content: space-between;
  color: white;
  padding-top: 20px;
}

.wrapper-footer .wrapper-links div:nth-child(4) img {
  width: 410px;
  margin-top: -40px;
  z-index: -1;
}

.wrapper-footer .wrapper-links h3 {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.wrapper-footer .wrapper-links ul {
  list-style: none;
  font-size: 12px;
}

.wrapper-footer .wrapper-links ul li {
  color: lightgray;
  opacity: 0.9;
  padding: 4px 0;
}

.wrapper-footer .wrapper-links ul li:hover {
  color: white;
  cursor: pointer;
}

.wrapper-footer .rights {
  margin-top: -70px;
  padding-bottom: 20px;
  font-size: 12px;
}

.wrapper-footer .rights p {
  color: lightgray;
  opacity: 0.9;
}

.wrapper-footer .rights p a {
  color: #0282f9;
  text-decoration: none;
}

.wrapper-footer .rights a {
  color: #0282f9;
  text-decoration: none;
}

.footer-signup {
  background-color: #303030;
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-signup .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-signup .wrapper div:first-of-type a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  border: 1px solid #0282f9;
  font-size: 16px;
  color: white;
}

.footer-signup .wrapper div:last-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-signup .wrapper div:last-of-type p {
  text-transform: uppercase;
  font-size: 16px;
  color: #0282f9;
  display: inline-block;
  margin-right: 10px;
}

.footer-signup .wrapper div:last-of-type img {
  margin-left: 10px;
  width: 30px;
}

.footer-signup .wrapper div:last-of-type img:hover {
  cursor: pointer;
}

